.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.firebase/
coverage/
*.iml
*.log
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
firebase_options.dart
